{% extends 'base_general.html'%}

{%block titulo%}Password CalificaUD{%endblock titulo%}

{%block styles%}{%endblock styles%}

{% block cabecera %}{% endblock cabecera %}

{% block cuerpo %}

<div class="container-fluid text-centered" id="log">      
  <form  action=""  method="post">{%csrf_token%}
    {% for field in formulario %}
    {{ field.label_tag }} {{ field }}
    {% endfor %}
    <p><input type="submit" class="btn" value='Cambiar'/></p>
  </form>
  {% if  formulario.errors or error%}
  <div> <h5>Hay los siguiente errores: </h5></div>  
  {% for errors in formulario.errors.items %}
  <div class="alert alert-error">
    {% for error in errors %}
    {{error}}
    {% endfor %}
  </div>
  {% endfor %}  
  {% if error %}
  <div class="alert alert-error">{{error}}</div>                    
  {% endif %} 
  {% endif %}

  {% if ok %}
  <div class="alert alert-success">{{ok}}</div>  
  {% endif %}  
</div> 

{% endblock cuerpo %}



