{% extends 'base_general.html'%}

{%block titulo%}Recomiendame{%endblock titulo%}

{%block styles%}
	<link href="{{STATIC_URL}}css/styles.css" rel="stylesheet">
{%endblock styles%}

{% block cabecera %}
	<!--Barra de navegacion-->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="{% url 'index_private'%}">Recomiendame</a>
        <div class="nav-collapse">
          <ul class="nav">
            <!--<li class="active"><a href="#">Home</a></li>-->
            <li><a href="{% url 'sugerencia' %}">¿Tienes sugerencias?</a></li>
            <li><a href="#about">Acerca de</a></li>
          </ul>
            {% if user.is_authenticated %}
            <div class="btn-group navbar-text pull-right">
              <a class="btn" href="#" data-toggle="dropdown"><i class="icon-user"></i> {{user.nombre|title|truncatechars:15}} {{user.apellido|title|truncatechars:15}}</a>
              <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'actualizar'%}"><i class="icon-pencil"></i> Actualizar Datos personales</a></li>                
                <li class="divider"></li>
                <li><a href="{% url 'logout'%}"><i class="icon-off"></i> Cerrar sesi&oacute;n</a></li>
              </ul>
            </div>
            {% endif %}
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>  
{% endblock cabecera %}



{% block cuerpo %}
		<!--Resto del cuepro-->
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12 text-center">
					<h2>¿Tienes alguna sigerencia?</h2>
                     <form action="" method='post'>{%csrf_token%}
                        {% for field in formulario %}
                            {{ field.label_tag }} {{ field }}
                        {% endfor %}
                        <br>
                        <input type="submit" class="btn" value="enviar"/>
                    </form>

                {% if  formulario.errors or error%}
                  <div> <h5>Hay los siguiente errores: </h5></div>
                  {% for errors in formulario.errors.items %}
                      <div class="alert alert-error c">
                           {{ errors.field}}
                        {% for error in errors %}
                            {{error}}
                        {% endfor %}
                      </div>
                  {% endfor %}
                  {% if error %}
                    <div class="alert alert-error">{{error}}</div>
                  {% endif %}
              {% endif %}

				</div>
			</div>
			<br>
			<br>

		</div>
	{% endblock cuerpo %}

